*{
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: GothamBook;
  src: url("./assets/fonts/GothamBook.ttf");
}

body {
  font-family: GothamBook;
}
a {
  text-decoration: none;
  color: inherit;
}
